.card {
    padding-top: 14px;
}
.video {
    width: 100%;
    object-fit: cover;
}
.video-row {
    padding-bottom: 10px;
}
#canvas {
    width: 100%;
}


.content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
 
.content video {
    width: 100%;
    display: block;
}
 
.content:before {
    content: '';
    position: absolute;
    /* background-image: url('../../../assets/images/qrAnimation.gif'), url('../../../assets/images/qrAnimationFondo.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
 
:host ::ng-deep .videoElement {
    width: 100%;
    height: auto;
}