<div class="mine-container container mt-5">
    <div class="card animated fadeIn card-shadow ">
        <div class="card-body">
            <div class="Animated FadeIn">
                <div>
                    <h5 class="text-center" style="color: #007bff;">Registro de Asistencia</h5>
                </div>
                <hr>
                <div class="text-center">
                    <div class="col-sm-12 col-12 mb-4">
                        <div class="mensajeQR text-center">
                            <i class="fas fa-qrcode fa-2x"></i>
                            <p class="font-italic" style="font-size: small;">Lector de codígo QR</p>
                        </div>
                    </div>
                    <div>
                        <div style="width: 100%; ">
                            <div>
                                <div id="reader" width="100%"></div>
                                <select [(ngModel)]="this.selectConferencia" class="form-control form-control-sm"
                                    id="inputGroupSelect02">
                                    <option selected *ngFor="let confe of this.conferencias" [value]="confe._id">
                                        {{confe.strNombre}}-{{confe.strNombreConferencista}}
                                    </option>
                                </select>
                                <p class="fw-light" style="font-size:x-small; color: gray;">Recarga de las conferencias
                                    en:
                                    {{this.timeLeft}}</p>
                                <hr>
                                <div class="img-thumbnail">
                                    <div fxLayout="row wrap">

                                        <!-- Video -->
                                        <div class="video-row" fxFlex="100">
                                            <video class="video" id="video" #video autoplay playsinline></video>
                                        </div>
                                        <!-- Canvas -->
                                        <div fxFlex="100" style="display:none;">
                                            <canvas class="video" id="canvas" #canvas></canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>