.pdf:hover{
    cursor: pointer;
    color:red;
}
.excel:hover{
    cursor: pointer;
    color:green;
}
#dropdownReports{
  border-radius: 0% 15% 15% 0%;
}
.buttonForm{
    border-radius: 0% 20% 20% 0%;
}
.btn-style{
 height: 32px;
}
.icon-turn{
    transition:  transform 0.3s;
}
.icon-turn:active{
    transform: rotate(360deg);
}
